:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "luckiestGuy";
  src: url("/fonts/LuckiestGuy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}





@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: Comfortaa;
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



section {
  padding: 50px 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: luckiestGuy, sans-serif;
}



.wrapper {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 30px !important;
}

.fade-wrapper {
  background-color: #FF5F1F;
  min-height: 100vh;


}


/* verstehe ich nicht, in deiner Vorlage ist es nicht vorhanden und der Footer klebt am boden. */
footer {
  margin-top: auto;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.text-content {

  font-family: luckiestGuy;
  font-size: 1.5rem;
  text-align: center;

}